* {
  margin: 0;
  padding: 0;
}

#memo {
  height: 100vh;
  background-color: rgb(189, 189, 255);
}
.memo-header {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}
.memo-grid {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  height: 490px;
  margin: 100px auto;
  align-content: space-around;
  justify-content: space-evenly;
}
.card,
.card-image {
  width: 100px;
  height: 100px;
}
.restart {
  outline: none;
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}

#minesweeper {
  height: 100vh;
}
.minesweeper-grid {
  height: 800px;
  width: 800px;
  border: solid 5px rgb(160, 160, 160);
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
}
.minesweeper-field {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border: solid 1px black;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  font-size: 0px;
}
.unknown-field {
  background-color: rgb(209, 209, 209);
}
.clear-field {
  background-color: white;
  font-size: 20px;
}
.bomb-field {
  background-color: red;
}
.marked-field {
  background-color: black;
}
