#minesweeper {
  height: 80vh;
  padding-top: 15vh;
  margin-bottom: 2rem;
}
.minesweeper-grid {
  height: 800px;
  width: 800px;
  border: solid 5px rgb(160, 160, 160);
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.minesweeper-field {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border: solid 1px black;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  font-size: 0px;
  z-index: 999;
}
.unknown-field {
  background-color: rgb(209, 209, 209);
}
.clear-field {
  background-color: white;
  font-size: 20px;
}
.bomb-field {
  background-color: red;
}
.marked-field {
  background-color: black;
}
